*{
  padding:0;
  margin:0;
  box-sizing: border-box; 
  font-family:'Overpass',sans-serif ; 
  cursor:pointer ;
  font-family: 'Overpass', sans-serif;
}
body{
    background-color:hsl(228, 11%, 9%) ;

}
.card-1{
    background-color:hsl(215, 22%, 15%) ;
    width:26rem;
    height: 24rem;
    margin:auto;
    margin-top:8rem;
    border-radius: 1rem;
    

}
.card-1 img{
   margin-top:2rem;
   margin-left: 2rem;
   background-color: hsl(210, 19%, 18%);
   padding: 1rem;
   border-radius: 3rem;
}
.card-1 h2{
    color:white;
    margin-top:1rem;
   margin-left: 2rem;
}

.card-1 p{
    margin-top:1rem;
   margin-left: 2rem;
   color:hsl(215, 7%, 49%);
   font-size:15px ;
   line-height: 1.4rem;
}
.card-1 ul{
    list-style: none;
    display: flex;
    margin-top:1rem;
    margin-left: 2rem;
    gap:2rem;
    
}
.card-1 ul li button{
    margin-top:1rem;
   padding: 1rem;
   border-radius: 1.4rem;
   background-color:hsl(210, 19%, 18%);;
   color:hsl(215, 7%, 49%) ;
   border:none;
}
.card-1  span  button {
margin-left: 2rem;
margin-top: 1.5rem;
background-color:hsl(25, 97%, 53%) ;
border: none;
width:21rem;
height: 2.5rem;
border-radius:2rem;
color: white;
font-weight: bold;
}
.card-1 ul li  button:hover{
    background-color:hsl(25, 97%, 53%) ;
    color:white;
}
.card-1 span button:hover{
    background-color: white;
    color:hsl(25, 97%, 53%) ;
}


.card-2{
    display: none;
}
